<aside class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid flex-column align-items-start px-0">
      <a class="navbar-brand ps-4 my-4" href="#"><img src="../assets/images/logo-ANSWER.svg" alt="logo"></a>
      <div class="collapse navbar-collapse flex-column align-items-start mb-4 h-100" id="navbarNav">
        <ul class="navbar-nav flex-column vh-100">
          <li class="nav-item mb-4">
            <a class="nav-link ps-4 text-dark" aria-current="page" href="#"><span class="material-symbols-outlined align-bottom pe-2">
                Analytics
                </span>Dashboard</a>
          </li>
          <li class="nav-item mb-4">
            <a class="nav-link ps-4 text-dark" href="#"><span class="material-symbols-outlined align-bottom pe-2">
                forum
                </span>Question</a>
          </li>
          <li class="nav-item active border-start border-success border-4 mb-4">
            <a class="nav-link ps-4 text-success" href="#"><span class="material-symbols-outlined align-bottom text-success pe-2">
                assignment
                </span>Assignment</a>
          </li>
          <li class="nav-item mb-4">
            <a class="nav-link ps-4 text-dark"><span class="material-symbols-outlined align-bottom pe-2">
                video_library
                </span>Course</a>
          </li>
          <li class="nav-item mb-4">
            <a class="nav-link ps-4 text-dark"><span class="material-symbols-outlined align-bottom pe-2">
                supervisor_account
                </span>Admin</a>
          </li>
          <li class="nav-item mb-4">
            <a class="nav-link ps-4 text-dark"><span class="material-symbols-outlined align-bottom pe-2">
                settings
                </span>Settings</a>
          </li>
        </ul>

        <div class="d-flex ms-4 me-5">
          <div class="flex-shrink-0">
            <img src="../assets/images/andychen.jpeg" alt="profileimg" width="48" height="48"
            class="rounded-circle object-fit-cover">
          </div>
          <div class="flex-grow-1 ms-3">
            <a href="#" class="text-dark fw-bold">Andy Chen
              <span class="text-secondary fw-normal">andy0401@mail.com
            </a>
            
          </div>
        </div>


      </div>
    </div>
  </aside>
